@import "@styles/mixins.css";
.projects {
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #fff;
   padding: 0 70px;
   width: 100%;
   background: radial-gradient(circle, #363636 0%, #000000 100%);
   box-shadow: 0 12px 112px rgba(0, 0, 0, 0.8);
   padding-bottom: 120px;
   margin-top: 220px;

   &__banner {
      margin-top: 120px;
      color: var(--Light, #fff);
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
      margin-bottom: 2rem;

      &-text {
         font-size: 28px;
         line-height: 40px;
         font-weight: 100;
         font-style: light;

         @mixin screen md {
            font-size: 22px;
            line-height: 55px;
         }
      }
   }
}
