{
   "plugins": ["prettier-plugin-astro"],
   "tabWidth": 3,
   "useTabs": false,
   "overrides": [
      {
         "files": "*.astro",
         "options": {
            "parser": "astro"
         }
      }
   ]
}
