.button {
   background: none;
   border: solid 1px var(--Primary, #61dafb);
   font-size: 18px;
   color: var(--Primary, #61dafb);
   text-transform: uppercase;
   border-radius: 64px;
   padding: 16px 30px;
   text-decoration: none;

   &.secondary {
      border: none;
      text-transform: none;
      font-weight: 100;
      padding: 0;
   }

   &:hover {
      cursor: pointer;
   }
}
