.carousel {
   width: 100%;
   max-width: 1200px;
   margin: 10px auto;

   & .swiper {
      width: 100%;
      height: 100%;
      padding-right: 80px;
      padding-left: 80px;
   }

   & .swiper-slide {
      font-size: 18px;
      color: #fff;
      overflow: visible;
      display: flex;
      justify-content: left;
      flex-direction: column;

      & img {
         display: block;
         width: 100%;
         margin: 0 auto 0;
      }
   }

   & .swiper-pagination {
      transition: all 0.3s ease-in-out;
      width: 100px;
      right: -36px;

      & .swiper-pagination-bullet {
         transition: all 0.3s ease-in-out;
         width: 36px;
         border-radius: 10px;
         opacity: 1;
         height: 5px;
         margin: 8px;
         background: none;
         position: relative;
         background: none;

         &::after {
            transition: all 0.3s ease-in-out;
            position: absolute;
            background: #696969;
            content: "";
            width: 100%;
            height: 5px;
            left: 0;
            border-radius: 10px;
            top: calc(50% - 2px);
         }

         &-active {
            width: 46px;
            &::after {
               background: var(--Primary, #61dafb);
            }
         }
      }

      &:hover {
         right: -38px;

         & .swiper-pagination-bullet {
            height: 22px;
            margin: 0;
            position: relative;
            background: none;
            transition: all 0.3s ease-in-out;

            &-active {
               width: 50px;
            }

            &::after {
               transition: all 0.3s ease-in-out;
               position: absolute;
               content: "";
               height: 8px;
               left: 0;
               border-radius: 10px;
               top: calc(50% - 5px);
            }
         }
      }
   }

   &__content {
      justify-content: space-between;
      padding: 20px 40px;
      display: flex;
      flex-direction: row;
      gap: 20px;
   }

   &__projectName {
      position: absolute;
      left: -80px;
      font-size: 118px;
      font-weight: 800;
      top: 60%;
   }

   &__tags {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
   }

   &__contributions {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 100;
      display: none;
   }

   &__contributions-wrapper {
      display: flex;
      justify-content: flex-end;
   }

   &__headline {
      font-weight: 100;
      width: 400px;
      line-height: 28px;
   }
}
