@import "@styles/mixins.css";

.swiper {
   width: 100%;
   height: 100%;
   padding: 0 30px;

   @mixin screen lg {
      padding: 0 130px;
   }

   &-slide {
      background-position: center;
      background-size: cover;
   }
   &-slide img {
      display: block;
      width: 100%;
      object-fit: cover;
   }

   &-pagination {
      transition: all 0.3s ease-in-out;
      width: 100px;
      right: -45px !important;

      @mixin screen lg {
         right: 0 !important;
      }

      & .swiper-pagination-bullet {
         transition: all 0.3s ease-in-out;
         width: 36px;
         border-radius: 10px;
         opacity: 1;
         height: 10px;
         margin: 8px;
         background: none;
         position: relative;
         background: none;

         &::after {
            transition: all 0.3s ease-in-out;
            position: absolute;
            background: #696969;
            content: "";
            width: 100%;
            height: 5px;
            left: 0;
            border-radius: 10px;
            top: calc(50% - 2px);
         }

         &-active {
            width: 46px;
            &::after {
               background: var(--Primary, #61dafb);
            }
         }
      }

      &:hover {
         & .swiper-pagination-bullet {
            height: 22px;
            margin: 0;
            position: relative;
            background: none;
            transition: all 0.3s ease-in-out;

            &-active {
               width: 50px;
            }

            &::after {
               transition: all 0.3s ease-in-out;
               position: absolute;
               content: "";
               height: 8px;
               left: 0;
               border-radius: 10px;
               top: calc(50% - 5px);
            }
         }
      }
   }
}

.carousel {
   display: flex;
   flex-direction: column;
   gap: 10px;
   @mixin screen lg {
      gap: 0;
   }

   &__projectName {
      position: absolute;
      left: -80px;
      font-size: 118px;
      font-weight: 800;
      top: 60%;
      display: none;

      @mixin screen lg {
         display: block;
      }
   }
   &__content {
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-direction: column;
      align-items: end;

      @mixin screen lg {
         padding: 10px 160px 0;
         flex-direction: row;
         align-items: start;
      }

      &.mobile {
         flex-direction: column;
         gap: 10px;
         display: block;

         @mixin screen lg {
            display: none;
         }

         & .carousel__name {
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 7px;
            font-family: "Mulish", serif;
            text-transform: uppercase;
            margin-bottom: 30px;
         }
         & .carousel__headline {
            font-size: 20px;
            line-height: 36px;
            font-weight: 100;
            display: block;

            @mixin screen lg {
               display: none;
            }
         }
      }
   }
   &__headline {
      line-height: 1.5rem;
      display: none;
      font-weight: 100;

      @mixin screen lg {
         display: block;
      }
   }
   &__tags {
      display: flex;
      gap: 8px;
      max-width: 100%;
      flex-wrap: wrap;

      @mixin screen lg {
         gap: 10px;
         max-width: 400px;
      }
   }
}
