@import "@styles/mixins.css";

.nav {
   position: fixed;
   width: 100%;
   max-width: 1440px;
   display: flex;
   padding: 15px;
   justify-content: space-between;
   z-index: 999;
   top: 0;
   animation: hideThenShow2 0.5s ease-in-out forwards;

   @mixin screen md {
      padding: 30px;
      transition: all 0.5s ease-in-out;
   }

   &__wrapper {
      display: none;

      @mixin screen md {
         display: flex;
      }
   }

   &__logo {
      z-index: 9;
      & img {
         filter: grayscale(100%) brightness(50%);
         transition: all 0.3s ease-in-out;
      }

      &:hover,
      &.active {
         & img {
            width: 35px;
            margin: -1px;
            filter: none;
         }
      }
   }

   &__menu {
      display: flex;
      gap: 30px;
      align-items: center;

      a,
      button {
         background: none;
         border: none;
         transition: all 0.3s ease-in-out;
         text-align: center;
         font-family: Mulish;
         font-style: normal;
         line-height: normal;
         text-decoration: none;
         text-transform: uppercase;
         color: var(--Secondary, #e9ddce);
         font-size: 17px;
         font-weight: 600;
         cursor: pointer;

         &:hover,
         &.active {
            opacity: 1;
            color: var(--Primary, #61dafb);
         }
      }
   }

   &__mobile-button {
      display: block;
      background: none;
      border: none;
      position: fixed;
      right: 15px;
      top: 15px;
      cursor: pointer;

      @mixin screen md {
         display: none;
      }
   }

   &.isScrolled {
      /* background: rgba(0, 0, 0, 0.5); */
      width: 100%;
      max-width: 100%;
      /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
      padding: 10px;
      animation: hideThenShow 0.5s ease-in-out forwards;

      @mixin screen sm {
         padding: 10px 30px;
      }
   }
}

.nav.open {
   padding: 0;
   animation: hideThenShow 0.5s ease-in-out forwards;

   & .nav {
      &__logo {
         margin: 30px;
      }

      &__wrapper {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: absolute;
         width: 100%;
         height: 100vh;
         background: #000;
      }

      &__menu {
         flex-direction: column;
         margin-top: 50%;
         align-items: center;
         a,
         button {
            transition: none;
            font-size: 24px;
            font-weight: 300;

            &:hover {
               font-size: 24px;
            }
         }
      }
   }
}
