---
import Button from "./Button";
---

<section id="contact">
   <h1>Contact</h1>
   <p>Interested in working together?</p>
   <Button
      client:only="react"
      label="Drop me an email!"
      url="mailto:ocasta06@gmail.com"
   />
   <Button
      client:only="react"
      label="Download resume"
      url="mailto:ocasta06@gmail.com"
      variant="secondary"
   />
</section>

<style>
   @import "@styles/mixins.css";

   section {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      flex-direction: column;
      gap: 20px;

      @mixin screen md {
         gap: 30px;
      }

      h1 {
         text-transform: uppercase;
         font-weight: 600;
         font-size: 26px;
      }
      p {
         font-size: 20px;
         line-height: 36px;
         font-weight: 100;
         padding: 0 30px;

         @mixin screen md {
            line-height: 30px;
            font-weight: 200;
            text-align: center;
            font-size: 38px;
         }
      }
   }
</style>
