---
import ocLogo from "@assets/oc.svg";
---

<nav>
   <div class="nav">
      <div class="nav__logo">
         <a href="/" class="nav__logo">
            <img src={ocLogo.src} />
         </a>
      </div>
      <div class="nav__menu">
         <a href="/projects/ivr" class="glowing-icon">About</a>
         <a href="/projects/portfolio" class="glowing-icon">Projects</a>
         <a href="/projects/portfolio" class="glowing-icon">Contact</a>
      </div>
   </div>
</nav>

<style>
   nav {
      position: fixed;
      width: 100%;

      .nav {
         display: flex;
         padding: 30px;
         justify-content: space-between;
         align-items: flex-start;
         align-self: stretch;

         &__menu {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 30px;
            flex: 1 0 0;

            a {
               transition: all 0.3s ease-in-out;
               text-align: center;
               font-family: Mulish;
               font-style: normal;
               line-height: normal;
               text-decoration: none;
               text-transform: uppercase;
               color: var(--Secondary, #e9ddce);
               font-size: 18px;
               font-weight: 600;
               opacity: 0.5;

               &:hover {
                  opacity: 1;
                  color: var(--Primary, #61dafb);
               }
            }
         }
      }
   }
</style>
