---
import Carousel from "./Carosuel";

const { data } = Astro.props;
---

<section id="projects" class="projects">
   <div class="projects__banner">
      <h1>PROJECTS</h1>
      <!-- <p class="projects__banner-text">
         Some of the most recent projects I've had the pleasure of working on.
      </p> -->
   </div>
   <Carousel client:only="react" />
</section>
<style>
   @import "@styles/mixins.css";
   .projects {
      /* Global */
      width: 100%;
      max-width: 1728px;
      margin: 0 auto 30%;
      padding: 120px 30px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;

      @mixin screen md {
         padding: 100px 90px;
      }

      @mixin screen xl {
         padding: 100px 140px;
         /* gap: 284px; */
      }

      &__banner {
         color: var(--Light, #fff);
         display: flex;
         flex-direction: column;
         gap: 20px;
         padding: 0 200px;

         &-text {
            font-size: 28px;
            line-height: 40px;
            font-weight: 100;
            font-style: light;

            @mixin screen md {
               font-size: 22px;
               line-height: 55px;
            }
         }
      }
   }

   h1 {
      /* Global */
      font-family: Mulish;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 7.8px;
      text-transform: uppercase;
      display: block;
   }
</style>
