---
const menuItems = [
   {
      label: "linkedin-icon",
      href: "https://www.linkedin.com/in/oscar-casta%C3%B1eda-5a0a0244/",
      icon: "/socialIcons/linkedin.svg",
   },
   {
      label: "github-icon",
      href: "https://github.com/oscar-d-rodriguez",
      icon: "/socialIcons/github.svg",
   },
   {
      label: "email-icon",
      href: "mailto:ocasta06@gmail.com",
      icon: "/socialIcons/email.svg",
   },
   {
      label: "instagram-icon",
      href: "https://www.instagram.com/oscar7castaneda/",
      icon: "/socialIcons/instagram.svg",
   },
   {
      label: "behance-icon",
      href: "https://www.behance.net/OscarRdz",
      icon: "/socialIcons/behance.svg",
   },
];
---

<ul>
   {
      menuItems.map((item) => (
         <li>
            <a href={item.href} target="_blank">
               <img
                  src={item.icon}
                  alt={item.label}
                  class="menu-icon glowing-icon"
               />
            </a>
         </li>
      ))
   }
</ul>

<style>
   ul {
      bottom: 0;
      padding: 30px;
      gap: 10px;
      position: fixed;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
      &:hover {
         gap: 20px;
         img {
            width: 30px;
         }
      }
      img {
         filter: grayscale(100%) brightness(50%);
         transition: filter 0.2s ease-in-out;
         width: 22px;
         transition: all 0.3s ease-in-out;
      }
      li:hover {
         img {
            width: 38px;
            filter: none;
            margin-left: -3px;
         }
      }
   }
</style>
