---
const menuItems = [
	{
		href: "https://github.com/oscar-d-rodriguez",
		label: "github",
		icon: "/socialIcons/github.svg",
	},
	{
		href: "https://www.linkedin.com/in/oscar-casta%C3%B1eda-5a0a0244/",
		label: "linkedin",
		icon: "socialIcons/linkedin.svg",
	},
	{
		href: "mailto:ocasta06@gmail.com",
		label: "email",
		icon: "socialIcons/email.svg",
	},
	{
		href: "https://www.instagram.com/oscar7castaneda/",
		label: "instagram",
		icon: "socialIcons/instagram.svg",
	},
	{
		href: "https://www.behance.net/OscarRdz",
		label: "behance",
		icon: "socialIcons/behance.svg",
	},
];
---

<ul>
	{
		menuItems.map((item) => (
			<li>
				<a href={item.href} target="_blank">
					<img
						src={item.icon}
						alt={item.label}
						class="menu-icon glowing-icon"
					/>
				</a>
			</li>
		))
	}
</ul>

<style>
	ul {
		position: fixed;
		bottom: 0;
		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		transition: all 0.3s ease-in-out;

		&:hover {
			gap: 20px;
			img {
				width: 30px;
			}
		}

		img {
			filter: grayscale(100%) brightness(50%);
			transition: filter 0.2s ease-in-out;
			width: 22px;
			transition: all 0.3s ease-in-out;
		}

		li:hover {
			img {
				width: 38px;
				filter: none;
				margin-left: -3px;
			}
		}
	}
</style>
