---
import oscarBanner from "../assets/oscar_castaneda.svg";
---

<section id="home">
   <div>
      <img src={oscarBanner.src} />
      <hr />
      <p>
         CREATING EXPERIENCES <br />
         SINCE 2010
      </p>
   </div>
</section>

<style>
   @import "@styles/mixins.css";
   section {
      width: calc(100% - 60px);
      margin: 0 auto 30%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      @mixin screen sm {
         width: calc(100% - 160px);
      }
      @mixin screen lg {
         width: 100%;
      }
   }
   p {
      color: #fff;
      width: 100%;
      text-align: right;
   }
   hr {
      background: #fff;
      height: 1px;
      border: none;
      display: block;
      margin: 20px 0;
   }
   img {
      max-width: 851px;
      width: 100%;
   }
</style>
