---
import oscarBanner from "../assets/oscar_castaneda.svg";
const { data } = Astro.props;
---

<section>
	<div>
		<img src={oscarBanner.src} />
		<hr />
		<p>
			CREATING EXPERIENCES <br />
			SINCE 2010
		</p>
	</div>
</section>

<style>
	section {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	p {
		color: #fff;
		width: 100%;
		text-align: right;
	}
	hr {
		background: #fff;
		height: 1px;
		border: none;
		display: block;
		margin: 20px 0;
	}
	img {
		max-width: 851px;
		width: 100%;
	}
</style>
