@import "@styles/mixins.css";

.project-page {
   padding: 160px 60px 120px;
   margin-bottom: 0;
   animation: hideThenShow 0.5s ease-in-out forwards;
   display: flex;
   flex-direction: column;
   gap: 70px;
   /* border: solid 1px red; */
   background-color: rgb(0 0 0 / 0.5);
   position: relative;

   @mixin screen md {
      gap: 120px;
      margin-bottom: 120px;
   }

   &__lead {
      justify-content: center;
      gap: 0px;
      display: flex;
      flex-direction: column;

      @mixin screen md {
         flex-direction: row;
         gap: 130px;
      }

      & ul {
         color: #fff;
         list-style: disc;
         margin: -1rem 2rem 2rem 2rem;
         line-height: 1.5rem;
         letter-spacing: 1px;
         font-weight: 300;

         & li {
            margin-bottom: 1rem;
         }
      }
   }

   &__long-description {
      width: 100%;

      @mixin screen lg {
         width: 35em;
      }

      p {
         color: #f5f5f5;
         line-height: 2.1;
         font-size: 18px;
         letter-spacing: 0.5px;
         font-weight: 400;
         padding-bottom: 20px;
      }
   }

   &__metadata {
      line-height: 30px;
      color: #fff;
      max-width: 100%;

      @mixin screen md {
         max-width: 282px;
         line-height: 36px;
      }

      & p {
         margin-bottom: 20px;
         font-size: 18px;
         font-weight: 400;

         @mixin screen md {
            font-size: 22px;
            font-weight: lighter;
            margin-bottom: 60px;
         }
      }

      & .label {
         text-transform: uppercase;
         font-weight: 400;
         letter-spacing: 4px;
         margin-bottom: 0px;
         font-size: 18px;

         @mixin screen md {
            font-weight: lighter;

            margin-bottom: 10px;
         }
      }
   }

   &__media {
      & img {
         width: 100%;
      }
   }

   &__asset {
      margin-bottom: 60px;

      @mixin screen lg {
         margin-bottom: 120px;
      }

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__next-project-menu {
      display: flex;
      justify-content: space-between;
   }

   @keyframes spinOnce {
      from {
         transform: rotate(0deg);
      }
      to {
         transform: rotate(360deg);
      }
   }

   & .spin-on-hover:hover {
      animation: spinOnce 0.5s ease-in-out;
   }

   &__close-project {
      padding: 0px;
      display: inline-block;
      width: fit-content;
      padding: 30px;
      position: absolute;
      right: 0;
      top: 0;
   }

   h1 {
      font-weight: bolder;
      color: #fff;
      text-transform: capitalize;
      font-size: 36px;

      @mixin screen lg {
         font-size: 46px;
      }

      letter-spacing: 0;
      margin-bottom: 60px;
      letter-spacing: 2px;
      line-height: 3.5rem;
   }

   h2 {
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 0px;
      border-top: solid 1px #333;
      border-bottom: solid 1px #333;
      letter-spacing: 6px;
      line-height: 3.5rem;
      text-align: center;

      @mixin screen lg {
         margin-bottom: 2rem;
      }
   }

   & .button {
      text-transform: capitalize;
   }
}
