---
import { ClientRouter } from "astro:transitions";
import Navigation from "@components/Navigation";

import "@styles/global.css";
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
         rel="stylesheet"
      />
      <meta name="generator" content={Astro.generator} />
      <title>Oscar Castaneda - Portfolio</title>
      <ClientRouter />
      <script src="/script.js" is:inline></script>
   </head>
   <body>
      <div class="menu">
         <Navigation client:load />
      </div>
      <slot />
      <div id="cursor" class="cursor-effect"></div>
      <canvas id="canvas" width="100%"></canvas>
   </body><style>
      canvas {
         z-index: -2;
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }
   </style>
</html>
