---
import { ClientRouter } from "astro:transitions";
import Navigation from "@components/Navigation";

import "@styles/global.css";
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
         rel="stylesheet"
      />
      <meta name="generator" content={Astro.generator} />
      <title>Oscar Castaneda - Portfolio</title>
      <ClientRouter />
      <script src="/script.js" is:inline></script>
   </head>
   <body>
      <Navigation client:load />
      <slot />
      <div id="cursor" class="cursor-effect"></div>
      <canvas id="canvas" width="100%"></canvas>
   </body><style>
      .cursor-effect {
         position: absolute;
         pointer-events: none;
         width: 1000px;
         height: 1000px;
         border-radius: 50%;
         background: radial-gradient(
            circle,
            rgba(35, 35, 35, 100) 0%,
            rgba(0, 0, 0, 0) 50%
         );
         transform: translate(-50%, -50%);
         transition: all 0.2s ease-out;
         z-index: -1;
      }
      canvas {
         z-index: -2;
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
      }
   </style>
</html>
